@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "base/variables";
@import "blocks/promo";
@import "blocks/title";
@import "blocks/buttons";
@import "blocks/composition";
@import "blocks/items";
@import "blocks/reviews";
@import "blocks/scrollUp";
@import "blocks/promo-2";
@import "blocks/form-order";
@import "blocks/form";
@import "blocks/timer";
@import "base/animation";
@import "libs/slick";

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1140px;
    position: relative;
    margin: 0 auto;
}
a {
    text-decoration: none;
    &:hover {
        color: white;
    }
}

@media (max-width: 1201px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 700px;
    }
}

@media (max-width: 776px) {
    .container {
        width: 500px;
    }
}

@media (max-width: 575px) {
    .container {
        width: 80%;
    }
}