.button {
    display: block;
    margin: 0 auto;
    padding-top: 8px;
    width: 180px;
    height: 45px;
    border-radius: 15px;
    background-color: $main-color;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        box-shadow: 0 0 8px 3px rgb(207, 162, 14);
    }
    &_form {
        padding: 0;
        width: 220px;
    }
}

@media (max-width: 776px) {
    .button {
        width: 135px;
        height: 38px;
        font-size: 17px;
        &_form {
            width: 200px;
        }
    }   
}

@media (max-width: 575px) {
    .button {
        padding-top: 5px;
        width: 117px;
        height: 32px;
        font-size: 14px;
        &_form {
            padding-top: 2px;
            width: 164px;
        }
    }   
}