.composition {
    min-height: 420px;
    padding: 70px 0;
    background: linear-gradient(to bottom right,#e9e1e1,rgba(0, 0, 0, .31));
    &__wrapper {
        padding-bottom: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__prod {
        width: 245px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 991px) {
    .composition {
        &__prod {
            width: 200px;
        }
    }
}

@media (max-width: 776px) {
    .composition {
        padding: 50px 0;
        &__prod {
            width: 165px;
        }
    }
}

@media (max-width: 575px) {
    .composition {
        padding: 35px 0;
        &__prod {
            width: 100px;
        }
    }
}