.promo-2 {
    min-height: 580px;
    padding: 70px 0;
    background: linear-gradient(to top right,#332f4f,#b2b2b2);
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        width: 300px;
        img {
            width: 100%;
        }
    }
    &__descr {
        margin-left: 60px;
        width: 500px;
        font-weight: 400;
        font-size: 20px;
        color: white;
    }
    &__list {
        margin: 50px 0;
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        font-size: 18px;
        color: $main-color;
        list-style-type: none;
        text-transform: uppercase;
    }
}

@media (max-width: 991px) {
    .promo-2 {
        &__img {
            width: 240px;
        }
        &__descr {
            margin-left: 45px;
            margin-left: 45px;
            font-size: 17px;
        }
        &__list {
            font-size: 16px;
        }
    }
}

@media (max-width: 776px) {
    .promo-2 {
        padding: 55px 0;
        &__wrapper {
            flex-direction: column;
        }
        &__img {
            width: 240px;
        }
        &__descr {
            margin: 30px 0;
            width: 100%;
            padding: 0 30px;
            font-size: 16px;
            text-align: center;
        }
        &__list {
            display: none;
        }
    }
}

@media (max-width: 776px) {
    .promo-2 {
        padding: 40px 0;
        &__img {
            width: 200px;
        }
        &__descr {
            padding: 0;
            font-size: 14px;
        }
    }
}
