.reviews {
    position: relative;
    min-height: 470px;
    padding: 51px 0 65px 0;
    background: linear-gradient(to top right, rgb(205, 208, 223), rgb(202, 142, 94));
    &__title {
        color: black;
        font-weight: 700;
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 60px;
    }
    .carousel {
        width: 80%;
        margin: 0 auto;
    }
    .slick-arrow {
        position: absolute;
        top: 12%;
        border: none;
        background-color: white;
        &:active, &:focus {
            outline: none;
            border: none;
        }
        img {
            width: 14px;
            height: 46px;
        }
    }
    .slick-prev {
        left: 41%;
        z-index: 2;
    }
    .slick-next {
        right: 41%;
    }
}

@media (max-width: 991px) {
    .reviews {
        .slick-prev {
            left: 34%;
        } 
        .slick-next {
            right: 34%;
        }
    }
}

@media (max-width: 575px) {
    .reviews {
        padding: 30px 15px 10px;
        .slick-prev {
            left: 28%;
        } 
        .slick-next {
            right: 28%;
        }
    }
}